
/***********************************************
*************** FOOTER SECTION ****************
***********************************************/

#footer-section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    color: var(--background-color);
}

.footer-content {
    flex-basis: 100%;
    padding: 1rem 2rem;
    
    z-index: 3;
}

.footer-content.copyright {
    
    justify-self: center;
}
.footer-content.copyright p{
    text-align: center;
}


.footer-content h5 {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

.footer-content .footer-icon {
    margin-right: 10px;
}
.footer-content a{
    color: var(--background-color);
}

.footer-opacity {
    position: absolute;
    z-index: 1;
    background-color: var(--primary-dark);
    opacity: 0.88;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.footer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}
@media only screen and (min-width:768px){
    .footer-content {
        flex-basis: 50%;
    }
    .footer-content.copyright {
    
        flex-basis: 100%;
    }
}