/***********************************************
*************** FOOTER SECTION ****************
***********************************************/

#footer-section {
  color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.footer-content {
  flex-basis: 100%;
  padding: 1rem 2rem;
  z-index: 3;
}

.footer-content.copyright {
  justify-self: center;
}

.footer-content.copyright p {
  text-align: center;
}

.footer-content h5 {
  color: var(--primary);
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}

.footer-content .footer-icon {
  margin-right: 10px;
}

.footer-content a {
  color: var(--background-color);
  text-decoration: underline;
}

.footer-opacity {
  background-color: var(--primary-dark);
  height: 100%;
  left: 0;
  opacity: 0.88;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.footer-img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    flex-basis: 50%;
  }

  .footer-content.copyright {
    flex-basis: 100%;
  }
}
