<section id="footer-section" class="padding">
    <div class="footer-content">
        <h5>Contacto</h5>
        <p><i class="footer-icon fas fa-envelope"></i>valdefreaks92@gmail.com</p>


    </div>
    <div class="footer-content">
        <h5>También puedes ver</h5>
        <a routerLink="/privacy"><i class="footer-icon fas fa-lock"></i>Aviso de privacidad</a>
    </div>
    <div class="footer-content copyright">
        <p>&copy; 2020 - Valdemar Farina Sánchez</p>
    </div>
    <div class="footer-opacity">

    </div>
    <img class="footer-img" src="../assets/images/hero_background_small.jpg" alt="">
</section>