<section id="footer-section" class="padding">
  <div class="footer-content">
    <h5>Contacto</h5>
    <a href="https://api.whatsapp.com/send?phone=527331206065" target="_blank"
      ><i class="footer-icon fab fa-whatsapp"></i>Envíanos un mensaje</a
    >
  </div>
  <div class="footer-content">
    <h5>También puedes ver</h5>
    <a (click)="navigate()"><i class="footer-icon fas fa-lock"></i>Aviso de privacidad</a>
  </div>
  <div class="footer-content copyright">
    <p>&copy; 2021 - Valdemar Farina</p>
  </div>
  <div class="footer-opacity"></div>
  <img class="footer-img" src="assets/images/hero_background_small.jpg" alt="" />
</section>
