<div #firstContainer class="first-container">
  <div
    @fadeRightNav
    [ngClass]="navigationBackground ? 'nav-bg' : 'nav-no-bg'"
    class="nav-container padding">
    <nav>
      <ul class="flex-navigation">
        <li><a (click)="scrollTo(aboutMe)">{{ 'aboutMe' | translate }}</a></li>
        <li><a (click)="scrollTo(portfolio)">{{ 'myPortfolio' | translate }}</a></li>
        <div #target (click)="popIsOpen = !popIsOpen">
          <i class="fas fa-chevron-down icon"></i>
          <img [src]="selectedLangOption.imageUrl" [alt]="selectedLangOption.prefix">
          <p>{{ selectedLangOption.label }}</p>
        </div>
        <ngx-custom-tooltip class="tooltip" *ngIf="popIsOpen" [padding]="'8px 0 2px 0'" [target]="target"
                            [popUpPosition]="'bottomCenter'">
          <div *ngFor="let lang of langOptions" (click)="selectLanguage(lang.id)">
            <img [src]="lang.imageUrl" [alt]="lang.prefix">
            <p>{{ lang.label }}</p>
          </div>
        </ngx-custom-tooltip>
        <!--<li><a (click)="scrollTo(contact)">Contacto</a></li>-->
      </ul>
    </nav>
  </div>
  <section #headerSection id="header-section" class="padding">
    <div class="name-container">
      <h1 @fadeTop>Valdemar Farina</h1>
      <h4 @fadeSlow>web developer</h4>
      <div class="social-media-container">
        <a
          @fadeLeft2
          href="https://www.linkedin.com/in/valdemar-farina-s%C3%A1nchez-6651b3201/"
          target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          @fadeLeft
          href="https://github.com/valdefreaks"
          target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a
          @fadeRight
          href="https://www.facebook.com/Valdemar.Farina/"
          target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a
          @fadeRight2
          href="https://api.whatsapp.com/send?phone=527331206065"
          target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
    <div class="hero-opacity"></div>
    <img class="hero-img" [src]="heroImg" alt=""/>
  </section>
  <section #aboutMe id="about-me-section" class="padding">
    <div class="rectangle">
      <div class="section-title-container">
        <h1
          [@showHideTitleSection]="animateAboutMe ? 'mobileShow' : 'mobileHide'"
          class="section-title"
        >
          {{ 'hiNewFriend' | translate }}
        </h1>
      </div>
      <div>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          {{ 'myNameIs' | translate }} <strong>Valdemar Farina</strong>
          {{ 'iAmGlad' | translate }}
        </p>
        <br/>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          {{ 'littleAboutMe' | translate }} <br/>
          {{ 'alwaysBeen' | translate }}
        </p>
        <br/>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          {{ 'enoughReading' | translate }}
        </p>
      </div>
    </div>
  </section>
  <section #portfolio id="portfolio-section" class="padding">
    <div class="section-title-container">
      <h1
        [@showHideTitleSection]="animatePortfolio ? 'mobileShow' : 'mobileHide'"
        class="section-title">
        {{ 'myNextProject' | translate }}
      </h1>
    </div>
    <div
      [@fade]="animatePortfolio ? 'show' : 'hide'"
      #carouselContainer
      class="flex-portfolio-container"
    >
      <carousel
        class="carousel"
        [height]="carouselHeight"
        [width]="carouselWidth"
        [borderRadius]="8"
        [cellWidth]="cellWidth"
        [transitionDuration]="300"
        [objectFit]="'cover'"
        [cellsToScroll]="1"
      >
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.census.title' | translate }}</p>
              <p>{{ 'projects.census.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/census_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.callCenter.title' | translate }}</p>
              <p>{{ 'projects.callCenter.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/vidanta_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.onlineOrders.title' | translate }}</p>
              <p>{{ 'projects.onlineOrders.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_users_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.onlineOrdersAdmin.title' | translate }}</p>
              <p>{{ 'projects.onlineOrdersAdmin.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_admin_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.remoteAdminApp.title' | translate }}</p>
              <p>{{ 'projects.remoteAdminApp.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_supervisor_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.pointOfSale.title' | translate }}</p>
              <p>{{ 'projects.pointOfSale.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>{{ 'projects.eventManagement.title' | translate }}</p>
              <p>{{ 'projects.eventManagement.description' | translate }}</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/banquetes_project.png" alt=""/>
        </div>
      </carousel>
    </div>
  </section>
  <!--<section #contact id="contact-section" class="padding">
    <div class="section-title-container">
      <h1
        [@showHideTitleSection]="animatePortfolio ? 'mobileShow' : 'mobileHide'"
        class="section-title"
      >
        ¿Tienes algo en mente?
      </h1>
    </div>
    <div class="form-container">
      <div>
        <p>¿Te gustaría obtener información sobre algún proyecto que tienes en mente?</p>
        <img src="assets/images/contact_us.png" alt="" />
      </div>
      <div>
        <form class="contact-form">
          <label for="name">Nombre</label>
          <input type="text" id="name" />
          <label for="email">Correo electrónico</label>
          <input type="text" id="email" />
          <label for="message">Mensaje</label>
          <textarea id="message" rows="7"></textarea>
          <input class="btn-primary" type="submit" value="Enviar mensaje" />
        </form>
      </div>
    </div>
  </section>-->
  <app-footer></app-footer>
</div>
