<div #firstContainer class="first-container">
  <div
    @fadeRightNav
    [ngClass]="navigationBackground ? 'nav-bg' : 'nav-no-bg'"
    class="nav-container padding">
    <nav>
      <ul class="flex-navigation">
        <li><a (click)="scrollTo(aboutMe)">Acerca de mi</a></li>
        <li><a (click)="scrollTo(portfolio)">Mi portafolio</a></li>
        <!--<li><a (click)="scrollTo(contact)">Contacto</a></li>-->
      </ul>
    </nav>
  </div>
  <section #headerSection id="header-section" class="padding">
    <div class="name-container">
      <h1 @fadeTop>Valdemar Farina</h1>
      <h4 @fadeSlow>web developer</h4>
      <div class="social-media-container">
        <a
          @fadeLeft2
          href="https://www.linkedin.com/in/valdemar-farina-s%C3%A1nchez-6651b3201/"
          target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          @fadeLeft
          href="https://github.com/valdefreaks"
          target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a
          @fadeRight
          href="https://www.facebook.com/Valdemar.Farina/"
          target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a
          @fadeRight2
          href="https://api.whatsapp.com/send?phone=527331206065"
          target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
    <div class="hero-opacity"></div>
    <img class="hero-img" [src]="heroImg" alt=""/>
  </section>
  <section #aboutMe id="about-me-section" class="padding">
    <div *ngIf="mobileDevice" class="rectangle">
      <div class="section-title-container">
        <h1
          [@showHideTitleSection]="animateAboutMe ? 'mobileShow' : 'mobileHide'"
          class="section-title"
        >
          ¡Hola nuevo amigo!
        </h1>
      </div>
      <div>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          Mi nombre es <strong>Valdemar Farina</strong>
          y me da gusto que estes aquí.
        </p>
        <br/>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          Te cuento un poco sobre mi: <br/>
          Siempre he sido un apasionado de la tecnología, por al motivo, estudié la Ingeniería en
          Tecnologías de la Información. Desde hace 4 años, me he desempeñado de manera
          independiente desarrollando proyectos informáticos que satisfagan las necesidades de mis
          clientes, entregando productos que superen, por mucho, las expectativas de éstos.
        </p>
        <br/>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          Basta de tanta lectura, dale un vistazo a algunos de esos proyectos. Tómate tu tiempo, y
          siéntete en confianza de ponerte en contacto conmigo si así lo deseas.
        </p>
      </div>
    </div>
    <div *ngIf="!mobileDevice" class="rectangle">
      <div class="section-title-container">
        <h1
          [@showHideTitleSection]="animateAboutMe ? 'mobileShow' : 'mobileHide'"
          class="section-title"
        >
          ¡Hola nuevo amigo!
        </h1>
      </div>
      <div>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          Mi nombre es <strong>Valdemar Farina</strong>
          y me da gusto que estes aquí.
        </p>
        <br/>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          Te cuento un poco sobre mi: <br/>
          Siempre he sido un apasionado de la tecnología, por al motivo, estudié la Ingeniería en
          Tecnologías de la Información. Desde hace 4 años, me he desempeñado de manera
          independiente desarrollando proyectos informáticos que satisfagan las necesidades de mis
          clientes, entregando productos que superen, por mucho, las expectativas de éstos.
        </p>
        <br/>
        <p [@fade]="animateAboutMe ? 'show' : 'hide'">
          Basta de tanta lectura, dale un vistazo a algunos de esos proyectos. Tómate tu tiempo, y
          siéntete en confianza de ponerte en contacto conmigo si así lo deseas.
        </p>
      </div>
    </div>
  </section>
  <section #portfolio id="portfolio-section" class="padding">
    <div class="section-title-container">
      <h1
        [@showHideTitleSection]="animatePortfolio ? 'mobileShow' : 'mobileHide'"
        class="section-title">
        ¡Mi próximo proyecto podría ser el tuyo!
      </h1>
    </div>
    <div
      [@fade]="animatePortfolio ? 'show' : 'hide'"
      #carouselContainer
      class="flex-portfolio-container"
    >
      <carousel
        class="carousel"
        [height]="carouselHeight"
        [width]="carouselWidth"
        [borderRadius]="8"
        [cellWidth]="cellWidth"
        [transitionDuration]="300"
        [objectFit]="'cover'"
        [cellsToScroll]="1"
      >
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>Sistema de censo poblacional</p>
              <p>Aplicación Web: Angular + Laravel API REST + MySQL</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/census_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>Sistema de monitoreo Call Center</p>
              <p>Aplicación Web: ASP.NET Core + Sql Server</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/vidanta_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>Sistema de pedidos online</p>
              <p>Sitio Web: ASP.NET Core + Bootstrap + Sql Server</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_users_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>Sistema de administración de pedidos</p>
              <p>Aplicación Web: ASP.NET Core + Bootstrap + Sql Server</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_admin_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>App para supervisión remota</p>
              <p>Aplicación movil (Android): Java + Sql Server</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_supervisor_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>Punto de venta multisucursal</p>
              <p>Aplicación Windows forms: C# + Sql Server</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/lunadepapel_project.png" alt=""/>
        </div>
        <div class="carousel-cell">
          <div class="carousel-info-container" [style.width]="cellWidth - 90 + 'px'">
            <div class="carousel-info">
              <p>Sistema de Administración de Eventos</p>
              <p>Aplicación Windows forms: C# + Sql Server</p>
            </div>
            <div class="carousel-details">
              <!--<button class="btn-primary">Detalles</button>-->
            </div>
          </div>
          <img src="./assets/images/banquetes_project.png" alt=""/>
        </div>
      </carousel>
    </div>
  </section>
  <!--<section #contact id="contact-section" class="padding">
    <div class="section-title-container">
      <h1
        [@showHideTitleSection]="animatePortfolio ? 'mobileShow' : 'mobileHide'"
        class="section-title"
      >
        ¿Tienes algo en mente?
      </h1>
    </div>
    <div class="form-container">
      <div>
        <p>¿Te gustaría obtener información sobre algún proyecto que tienes en mente?</p>
        <img src="assets/images/contact_us.png" alt="" />
      </div>
      <div>
        <form class="contact-form">
          <label for="name">Nombre</label>
          <input type="text" id="name" />
          <label for="email">Correo electrónico</label>
          <input type="text" id="email" />
          <label for="message">Mensaje</label>
          <textarea id="message" rows="7"></textarea>
          <input class="btn-primary" type="submit" value="Enviar mensaje" />
        </form>
      </div>
    </div>
  </section>-->
  <app-footer></app-footer>
</div>
