@use "variables" as var;

// Layouts
@mixin flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-row-no-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin center-items {
  justify-content: center;
  align-items: center;
}

// Components
@mixin btn-primary {
  border-radius: 3px;
  color: var.$primary-dark;
  background-color: var.$primary;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1rem;
}

@mixin padding($left: 1.5rem, $right: 1.5rem) {
  padding-left: $left;
  padding-right: $right;
  transition: all 0.5s ease-in-out;
}
