// Colors
$accent: #970747;
$background-color: #eeeeee;
$primary: #fbd46d;
$primary-dark: #222831;
$primary-light: #00bcd4;

// Fonts
$font-family-overlock: 'Overlock SC', cursive;
$font-family-pacifico: 'Pacifico', cursive;
$font-family-sarabun: 'Sarabun', sans-serif;
