<div (window:scroll)="onResize()" (window:scroll)="doSomethingOnWindowScroll($event.target)" class="first-container">
	<div [ngClass]="navigationBackground == true ? 'nav-bg' : 'nav-no-bg'" class="nav-container padding">
		<nav>
			<ul class="flex-navigation">
				<li><a href="#about-me-section">Acerca de mi</a></li>
				<li><a href="#portfolio-section">Mi portafolio</a></li>
				<li><a href="#contact-section">Contacto</a></li>
			</ul>
		</nav>
	</div>
	<div id="header-section" class="padding">
		<div class="name-container">
			<h1>Valdemar Farina</h1>
			<h4>Web Developer</h4>
			<div class="social-media-container">
				<a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
				<a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
				<a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/valdemar-farina-s%C3%A1nchez-6651b3201/" target="_blank"><i class="fab fa-linkedin"></i></a>
			</div>
		</div>
		<div class="hero-opacity">

		</div>
		<img class="hero-img" src="../assets/images/hero_background_small.jpg" alt="">
	</div>
	<div id="about-me-section" class="padding">
		<div class="rectangle">
			<div class="section-title-container">
				<h1 class="section-title">Acerca de mi</h1>
			</div>
			<div>
				<p>Mi nombre es Valdemar Farina Sánchez, soy Ingeniero en Tecnologías de la
					Información, egresado de la Universidad Tecnologíca de la
					Región Norte de Guerrero.
				</p>
				<br>
				<p>Soy una persona responsable y comprometida con los proyectos que emprendo. Durante 3 años me he
					desempeñado de manera independiente desarrollando proyectos informáticos que satisfagan las
					necesidades de mis clientes, entregando productos que superen, por mucho, las expectativas de éstos.
				</p>
			</div>
		</div>
	</div>
	<div id="portfolio-section" class="padding">
		<div>
			<h1 class="section-title">Mi portafolio</h1>
			<p>
			</p>
		</div>
		<div #carouselContainer class="flex-portfolio-container">
			<carousel class="carousel" [images]="images" [height]="carouselHeight" 
			[width]="carouselWidth" [borderRadius]="8"
			[cellWidth]="cellWidth"
			[dots]="true" [transitionDuration]="700" [objectFit]="'cover'" [cellsToScroll]="1">
			</carousel>
		</div>
	</div>
	<div id="contact-section" class="padding">
		<div class="form-container">
			<div>
				<h1 class="section-title">Contacto</h1>
				<p>¿Te gustaría obtener información sobre algún proyecto que tienes
					en mente?
				</p>
				<img src="../assets/images/contact_us.png" alt="">
			</div>
			<div>
				<form class="contact-form">
					<label for="name">Nombre</label>
					<input type="text" id="name">
					<label for="email">Correo electrónico</label>
					<input type="text" id="email">
					<label for="message">Mensaje</label>
					<textarea id="message" rows="7"></textarea>
					<input type="submit" value="Enviar mensaje">
				</form>
			</div>

		</div>

	</div>
	<div id="footer-section" class="padding">
		Todos los derechos reservados
	</div>
</div>

<!-- <div class="portfolio-item">
				<div class="div-opacity">
					<p>Sistema de Administración de Eventos</p>
					<p>Aplicación Windows forms - C#</p>
				</div>
				<img src="../assets/images/descarga.jpeg" alt="">

			</div>
			<div class="portfolio-item">
				<div class="div-opacity">
					<p>Sistema Punto de Venta</p>
					<p>Aplicación Windows forms - C#</p>
				</div>
				<img src="../assets/images/descarga.jpeg" alt="">
			</div>
			<div class="portfolio-item">
				<div class="div-opacity">
					<p>Sistema de Monitoreo CCC</p>
					<p>Aplicación Web - ASP.NET Core</p>
				</div>
				<img src="../assets/images/descarga.jpeg" alt="">
			</div>

			<div class="portfolio-item">
				<div class="div-opacity">
					<p>Sistema de Censo Poblacional</p>
					<p>Aplicación Web - Angular + Laravel API REST</p>
				</div>
				<img src="../assets/images/descarga.jpeg" alt="">
			</div> -->