<div class="first-container">
	<div id="header-section">
		<div class="nav-container">
			<nav>
				<ul class="flex-navigation">
					<li>Acerca de mi</li>
					<li>Mi portafolio</li>
					<li>Contacto</li>
				</ul>
			</nav>
		</div>
		<div class="name-container">
			<h1>Valdemar Farina</h1>
			<h4>Desarrollador web</h4>
			<div class="social-media-container">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-youtube"></i>
				<i class="fab fa-twitter"></i>
			</div>
		</div>
	</div>
	<div id="about-me-section">
		<div class="rectangle">
			<div class="section-title-container">
				<h1 class="section-title">Acerca de mi</h1>
			</div>
			<div>
				<p>Mi nombre es Valdemar Farina Sánchez, soy Ingeniero en Tecnologías de la
					Información, egresado de la Universidad Tecnologíca de la
					Región Norte de Guerrero.
				</p>
				<br>
				<p>Soy una persona responsable y comprometida con los proyectos que emprendo. Durante 3 años me he
					desempeñado de manera independiente desarrollando proyectos informáticos que satisfagan las
					necesidades de mis clientes, entregando productos que superen, por mucho, las expectativas de éstos.
				</p>
			</div>
		</div>
	</div>
	<div id="portfolio-section">
		<div>
			<h1 class="section-title">Mi portafolio</h1>
			<p>Mi nombre es Valdemar Farina Sánchez, soy Ingeniero en Tecnologías de la
				Información, egresado de la Universidad Tecnologíca de la
				Región Norte de Guerrero.
			</p>
		</div>
		<div class="flex-portfolio-container">
			<div class="portfolio-item">
				<div class="div-opacity">
					<p>Sistema de Administración de Eventos</p>
					<p>Windows forms - C#</p>
				</div>
				<img src="../assets/images/descarga.jpeg" alt="">
				
			</div>
			<div class="portfolio-item">
				<img src="../assets/images/descarga.jpeg" alt="">
			</div>
			<div class="portfolio-item">
				<img src="../assets/images/descarga.jpeg" alt="">
			</div>
			<div class="portfolio-item">
				<img src="../assets/images/descarga.jpeg" alt="">
			</div>

		</div>
	</div>
</div>