@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel+Decorative:wght@400;700;900&family=Overlock+SC&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/***********************************************
************* PERSONAL NORMALIZE ***************
***********************************************/

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h4 {
    margin: 0.4rem 0;
    font-weight: 400;
}

input:focus, textarea:focus {
    outline: none;
}

/***********************************************
*********++**** GENERALS STYLES ******+*********
***********************************************/

:root {
    /*--primary-dark: #272343;
    --primary-light: #e3f6f5;
    --primary: #bae8e8;
    --background-color: #ffffff;*/
    /*--primary-dark: #4d3e3e;
    --primary-light: #ffc38b;
    --primary: #ff926b;
    --background-color: #fff3cd;*/
    /*--primary-dark: #1a1c20;*/
    /*--primary-light: #ffd5cd;
    --primary: #f9813a;
    --background-color: #fcf1f1;*/
    /*
    --primary-dark: #222831;
    --primary-light: #ffd369;
    --primary: #f9813a;
    --background-color: #eeeeee;

    --primary: #835858;
    --primary-dark: #463333;
    --primary-light: #ebd4d4;
    --background-color: #fff0f0;

    --primary: #ff9999;
    --primary-dark: #3e4149;
    --primary-light: #ffc8c8;
    --background-color: #eeeeee;

    --primary: #bae8e8;
    --primary-dark: #272343;
    --primary-light: #e3f6f5;
    --background-color: #ffffff;

    --primary: #ff5959;
    --primary-dark: #1a0841;
    --primary-light: #4f9da6;
    --accent: #ffad5a;
    --background-color: #ffffff;
    */
    /*--primary: #ffad5a;
    --primary-dark: #283e56;
    --primary-light: #1989ac;
    --accent: #970747;
    --background-color: #fef4e8;
    --primary: #19d3da;
    --primary-dark: #373a40;
    --primary-light: #686d76;
    --accent: #970747;
    --background-color: #eeeeee;
    --primary-light: #4f8a8b;*/
    --primary-dark: #222831;
    --primary: #fbd46d;
    --accent: #970747;
    --background-color: #eeeeee;
    --primary-light: #00bcd4;
}

/*
font-family: 'Andika New Basic', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Overlock SC', cursive;
font-family: 'Sarabun', sans-serif;
font-family: 'Pacifico', cursive;
*/

*, html, body {
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

.padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media only screen and (min-width:992px) {
    .padding {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

.btn-primary {
    border-radius: 3px;
    color: var(--primary-dark);
    background-color: var(--primary);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1rem;
}

.btn-primary:hover {
    transform: scale(1.1);
}

/***********************************************
***************** NAVIGATION *****************
***********************************************/

.nav-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10001;
    opacity: 0.9;
    height: 60px;
    transition: all 0.2s;
}

.nav-bg {
    background-color: var(--primary-dark);
}

.nav-no-bg {
    background-color: var(--primary-dark);
}

.flex-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-navigation li {
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    margin-right: 1rem;
    color: var(--background-color);
    transition: all 400ms;
    text-align: center;
    font-family: 'Overlock SC', cursive;
}

.flex-navigation li a {
    color: var(--background-color);
    transition: all 400ms;
}

.flex-navigation li:last-child {
    margin-right: 0rem;
}

.flex-navigation li:hover, .flex-navigation li a:hover {
    color: var(--primary);
}

@media only screen and (min-width: 768px) {
    .flex-navigation {
        justify-content: flex-end;
    }
    .nav-bg {
        background-color: var(--primary-dark);
    }
    .nav-no-bg {
        background-color: transparent;
    }
}

/***********************************************
***************** PRESENTATION *****************
***********************************************/

.first-container {
    background-color: var(--background-color);
}

#header-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -60px;
}

.hero-opacity {
    position: absolute;
    z-index: 1;
    background-color: var(--primary-dark);
    opacity: 0.88;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

@media only screen and (min-width:768px) {
    .hero-img {
        content: url("assets/images/hero_background_medium.jpg");
    }
}

@media only screen and (min-width:992px) {
    .hero-img {
        content: url("assets/images/hero_background.jpg");
    }
}

.name-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.name-container h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3rem;
    /*font-weight: 700;*/
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: var(--primary);
}

@media only screen and (min-width: 320px) {
    .name-container h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .name-container h1 {
        font-size: 4.3rem;
    }
}

.name-container h4 {
    font-family: 'Overlock SC', cursive;
    text-align: center;
    font-size: 1.7rem;
    color: var(--background-color);
}

.social-media-container {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--primary);
}

.social-media-container a {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: var(--background-color);
}

.social-media-container *:last-child {}

/***********************************************
*************** ABOUT ME SECTION ***************
***********************************************/

#about-me-section {
    padding-top: 4rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-color);
}

#about-me-section .rectangle {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.rectangle div:first-child {
    flex-basis: 30%;
    padding: 1.5rem;
    border-bottom: 2px solid var(--primary);
    border-right: none;
}

.rectangle div:last-child {
    flex-basis: 70%;
    padding: 1.5rem;
}

.section-title, .rectangle div .section-title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: var(--primary-dark);
    font-size: 2.5rem;
    margin: 0;
}

.rectangle div p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
    text-align: justify;
}

#about-me-section p span {
    font-weight: bold;
    font-size: 1.1rem;
}

@media only screen and (min-width:768px) {
    #about-me-section .rectangle {
        flex-direction: row;
    }
    .rectangle div:first-child {
        flex-basis: 30%;
        padding: 2.5rem;
        border-bottom: none;
        border-right: 2px solid var(--primary);
    }
    .rectangle div:last-child {
        flex-basis: 70%;
        padding: 2.5rem;
    }
    .rectangle div .section-title {
        text-align: end;
    }
    .rectangle div p {
        font-size: 1.3rem;
        text-align: start;
    }
    #about-me-section p span {
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.section-title::before {
    height: 2px;
    color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
}

/***********************************************
*************** PORTFOLIO SECTION **************
***********************************************/

#portfolio-section {
    display: flex;
    color: var(--background-color);
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 8rem 0;
    position: relative;
}

#portfolio-section>div:first-child {
    flex-basis: 25%;
    padding: 1.5rem;
    flex-grow: 0;
}

#portfolio-section>div:first-child {
    border-bottom: 2px solid var(--primary);
    flex-basis: 100%;
    margin-bottom: 1rem;
    flex-grow: 1;
}

#portfolio-section>div:last-child {
    flex-basis: 100%;
    padding: 1.5rem 0;
    flex-grow: 1;
}

#portfolio-section div h1 {
    text-align: center;
}

.flex-portfolio-container {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel {
    flex-basis: 100%;
}

.carousel .carousel-cell {
    position: relative;
    border-radius: 10px;
}

.carousel-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 10px 10px;
}

.carousel-info p:first-child {
    font-size: 1rem;
    margin: 0 0 8px 0;
}

.carousel-info p:last-child {
    font-size: 0.8rem;
    margin: 0;
    color: var(--primary);
}

.carousel-details button {
    font-size: 0.8rem;
}

@media only screen and (min-width:768px) {
    .carousel-info p:first-child {
        font-size: 1.5rem;
    }
    .carousel-info p:last-child {
        font-size: 1.3rem;
    }
    .carousel-info-container {
        padding: 1.5rem;
        align-items: start;
    }
    .carousel-details button {
        font-size: 1rem;
    }
}

/*
.portfolio-item {
    min-height: 150px;
    max-height: 300px;
    flex-basis: 100%;
    max-width: 500px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.portfolio-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.7s;
    cursor: pointer;
}

.portfolio-item img:hover {
    transform: scale(1.1);
}

.div-opacity {
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.7s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.5rem;
}

.div-opacity:hover {
    opacity: 0.9;
}

.div-opacity p {
    text-align: start;
    margin: 0;
}

.div-opacity p:last-child {
    color: var(--primary-light);
}
*/

@media only screen and (min-width:992px) {
    /*#portfolio-section {
        display: flex;
        flex-direction: row;
        flex-flow: row-reverse;
    }
    #portfolio-section div h1 {
        text-align: start;
    }
    .portfolio-item {
        flex-basis: 50%;
    }*/
}

/***********************************************
*************** CONTACT SECTION ****************
***********************************************/

#contact-section {
    margin-top: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-section>div:first-child {
    border-bottom: 2px solid var(--primary);
    margin-bottom: 1rem;
    flex-grow: 1;
    padding: 1.5rem;
}

#contact-section>div:last-child {
    flex-basis: 100%;
    flex-grow: 1;
}

.form-container {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--background-color)!important;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(40, 62, 86, 0.5);
    background-color: var(--primary-dark);
}

@media only screen and (min-width:768px) {
    .form-container {
        flex-direction: row;
        justify-content: center;
    }
}

.form-container>div:first-child {
    padding: 2rem;
    text-align: center;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.form-container>div:last-child {
    padding: 2rem;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.form-container div p {
    /*text-align: start;*/
}

.form-container div img {
    margin-top: 1.5rem;
    width: 80%;
}

.contact-form label, .contact-form input {
    display: block;
}

.contact-form input[type="text"], textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.3rem 0 1rem 0;
    background-color: var(--background-color);
}

.contact-form input[type="submit"] {
    margin-left: auto;
}

/***********************************************
*************** FOOTER SECTION ****************
***********************************************/

#footer-section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    color: var(--background-color);
}

.footer-content {
    flex-basis: 50%;
    padding: 1rem 2rem;
    
    z-index: 3;
}

.footer-content.copyright {
    flex-basis: 100%;
    justify-self: center;
}
.footer-content.copyright p{
    text-align: center;
}


.footer-content h5 {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

.footer-content .footer-icon {
    margin-right: 10px;
}

.footer-opacity {
    position: absolute;
    z-index: 1;
    background-color: var(--primary-dark);
    opacity: 0.88;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.footer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}