@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel+Decorative:wght@400;700;900&family=Overlock+SC&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/***********************************************
************* PERSONAL NORMALIZE ***************
***********************************************/

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h4 {
  margin: 0.4rem 0;
  font-weight: 400;
}

input:focus,
textarea:focus {
  outline: none;
}

/***********************************************
*********++**** GENERALS STYLES ******+*********
***********************************************/

:root {
  /*--primary-dark: #272343;
    --primary-light: #e3f6f5;
    --primary: #bae8e8;
    --background-color: #ffffff;*/
  /*--primary-dark: #4d3e3e;
    --primary-light: #ffc38b;
    --primary: #ff926b;
    --background-color: #fff3cd;*/
  /*--primary-dark: #1a1c20;*/
  /*--primary-light: #ffd5cd;
    --primary: #f9813a;
    --background-color: #fcf1f1;*/
  /*
    --primary-dark: #222831;
    --primary-light: #ffd369;
    --primary: #f9813a;
    --background-color: #eeeeee;

    --primary: #835858;
    --primary-dark: #463333;
    --primary-light: #ebd4d4;
    --background-color: #fff0f0;

    --primary: #ff9999;
    --primary-dark: #3e4149;
    --primary-light: #ffc8c8;
    --background-color: #eeeeee;

    --primary: #bae8e8;
    --primary-dark: #272343;
    --primary-light: #e3f6f5;
    --background-color: #ffffff;

    --primary: #ff5959;
    --primary-dark: #1a0841;
    --primary-light: #4f9da6;
    --accent: #ffad5a;
    --background-color: #ffffff;
    */
  /*--primary: #ffad5a;
    --primary-dark: #283e56;
    --primary-light: #1989ac;
    --accent: #970747;
    --background-color: #fef4e8;
    --primary: #19d3da;
    --primary-dark: #373a40;
    --primary-light: #686d76;
    --accent: #970747;
    --background-color: #eeeeee;
    --primary-light: #4f8a8b;*/
  --primary-dark: #222831;
  --primary: #fbd46d;
  --accent: #970747;
  --background-color: #eeeeee;
  --primary-light: #00bcd4;
}

/*
font-family: 'Andika New Basic', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Overlock SC', cursive;
font-family: 'Sarabun', sans-serif;
font-family: 'Pacifico', cursive;
*/

*,
html,
body {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 992px) {
  .padding {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.btn-primary {
  border-radius: 3px;
  color: var(--primary-dark);
  background-color: var(--primary);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1rem;
}

.btn-primary:hover {
  transform: scale(1.1);
}
